@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
.home-page {
  background-color: #fff6e9;
  padding-bottom: 9%;
  margin-left: -8;
  margin-right: -8;
  font-family: Josefin sans;
}
.home-page .header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #fc7a23;
  margin: -8;
  font-weight: bold;
  padding: 16 50;
  height: 30px;
}
.home-page .header a {
  text-decoration: none;
  color: black;
}
.home-page .header #header-title {
  font-size: 25;
  margin-left: 20;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.home-page .header .header-nav {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.home-page .header .header-nav .header-nav-link {
  font-size: 18;
  margin-left: 50;
  margin-right: 50;
  cursor: pointer;
}
.home-page #home-title {
  font-size: clamp(25px, 3vw, 60px);
  text-align: left;
  margin: 0 175;
}
.home-page .home-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: flex-end;
  justify-content: center;
}
.home-page .home-container .home-sub-container #home-register button {
  font-size: 24;
  border-style: none;
  border-radius: 5px;
  background-color: #000f48;
  color: white;
  padding: 20 35;
  cursor: pointer;
}
.home-page .home-container .home-sub-container #home-subtext {
  font-size: 22;
  font-family: Josefin sans;
  font-style: italic;
  text-align: left;
  line-height: 1.25;
  width: 400;
}
.home-page .home-container .home-image {
  margin-right: 70;
}

@media screen and not (min-width: 400px) {
  #home-title {
    background-color: #482300;
    text-align: center;
    margin-bottom: 95px !important;
    font-size: 45px;
  }
  #home-register {
    text-align: center;
  }
  #home-subtext {
    text-align: center;
  }
  .home-sub-container {
    margin-bottom: 125px !important;
  }
  .home-page {
    padding-bottom: 425px;
  }
}
.page {
  font-family: Josefin sans;
  padding: 55 175;
  margin-left: -8;
  margin-right: -8;
  background-color: #fc7a23;
}
.page .heading {
  font-size: 50;
  font-weight: bold;
  margin-bottom: 40px;
}
.page .text {
  font-size: 25;
}

.about-group {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.about-group #about-description {
  width: 57%;
  font-size: 23;
  font-weight: 450;
  word-spacing: 1.5;
  line-height: 1.3;
}
.about-group .about-img {
  width: 375px;
  margin-left: 50;
  border-radius: 8px;
}

@media screen and not (min-width: 400px) {
  .about-img {
    display: none;
  }
}
#hearfromothers-page {
  background-color: #fff6e9;
}

#comments {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
}
#comments .comment {
  width: 400px;
  border-radius: 8px;
  padding: 12 25;
  margin: 20 30;
  font-size: 22;
}
#comments .comment .comment-text {
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#comments .comment .comment-closing {
  margin-top: 20px;
}
#comments .comment .comment-closing button {
  float: right;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

#example-page {
  background-color: #cee741;
}

.slider {
  position: relative;
  width: 90%;
  margin: auto;
  overflow: hidden;
  aspect-ratio: 16/9;
}
.slider video {
  width: 100%;
  display: none;
  border-radius: 8px;
}
.slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  padding: 10 15;
  border: none;
  cursor: pointer;
  opacity: 0.6;
}
.slider .prev {
  left: 0;
}
.slider .next {
  right: 0;
}

video.displaySlide {
  display: block;
}

#contact-page {
  background-color: #000f48;
  color: white;
  font-weight: 300;
}

.contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 250px;
  font-size: 25;
}
.contact-container .contact-social-media .contact-facebook {
  cursor: pointer;
}
.contact-container .contact-social-media .contact-instagram {
  cursor: pointer;
}
.contact-container .contact-info {
  margin: 0 150;
}
.header-nav-link:hover {
  transform: scale(1.02);
}

#header-title a:hover {
  transform: scale(1.02);
}

#home-register button:hover {
  transform: scale(1.01);
  box-shadow: 2px 2px black;
  background-color: #0a0a6a;
}

.comment-closing button:hover {
  color: #000f48;
}

.comment:hover {
  transform: scale(1.01);
  box-shadow: 7px 7px #000f48;
  cursor: pointer;
}

.about-img:hover {
  box-shadow: 7px 7px #000f48;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */