@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
.page {
  font-family: Josefin sans;
  padding: 3.5% 8%;
  margin-left: -8;
  margin-right: -8;
  background-color: #fc7a23;
}
.page .heading {
  font-size: 50;
  font-weight: bold;
  margin-bottom: 40px;
}
.page .text {
  font-size: 25;
}

.home-page {
  background-color: #fff6e9;
  padding-bottom: 9%;
  margin-left: -8;
  margin-right: -8;
  font-family: Josefin sans;
}
.home-page .header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #fc7a23;
  margin: -8;
  font-weight: bold;
  padding: 16 50;
  height: 30px;
}
.home-page .header a {
  text-decoration: none;
  color: black;
}
.home-page .header #header-title {
  font-size: 25;
  margin-left: 20;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.home-page .header .header-nav {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.home-page .header .header-nav .header-nav-link {
  font-size: 18;
  margin-left: 50;
  margin-right: 50;
  cursor: pointer;
}
.home-page #home-title {
  font-size: clamp(25px, 3vw, 60px);
  text-align: left;
  margin: 0 175;
}
.home-page .home-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  align-items: flex-end;
  justify-content: center;
}
.home-page .home-container .home-sub-container #home-register button {
  font-size: 24;
  border-style: none;
  border-radius: 5px;
  background-color: #000f48;
  color: white;
  padding: 20 35;
  cursor: pointer;
  transition: all 0.5s ease;
}
.home-page .home-container .home-sub-container #home-subtext {
  font-size: 22;
  font-family: Josefin sans;
  font-style: italic;
  text-align: left;
  line-height: 1.25;
  width: 400;
}
.home-page .home-container .home-image {
  margin-right: 70;
}

#home-register button:hover {
  transform: scale(1.1);
}

@media screen and not (min-width: 900px) {
  #home-title {
    margin-left: 0 !important;
    margin-right: 0 !important;
    text-align: center !important;
    font-size: 30 !important;
  }
  .home-sub-container {
    text-align: center;
  }
  .home-sub-container #home-subtext {
    text-align: center !important;
  }
  .page {
    padding: 55 50 !important;
  }
  .about-group {
    display: block !important;
  }
  .about-group #about-description {
    width: 100% !important;
  }
  .about-group .about-img {
    display: none;
  }
}
@media screen and not (min-width: 500px) {
  .header #header-title {
    font-size: 15px !important;
  }
  #home-title {
    font-size: 20 !important;
    padding: 0 20;
  }
  #home-register button {
    font-size: 15px !important;
  }
  .home-container {
    padding: 10 0;
  }
  #home-subtext {
    font-size: 14px !important;
    padding: 0 10px;
  }
  .home-image {
    transform: scale(0.8);
    margin: 0 75;
  }
  #about-description {
    font-size: 15 !important;
  }
}
#about-group {
  font-size: 23;
  font-weight: 450;
  word-spacing: 1.5;
  line-height: 1.3;
}

.about-img {
  width: 375px;
  float: right;
  margin-left: 50px;
  margin-bottom: 25px;
  border-radius: 8px;
}

#hearfromothers-page {
  background-color: #fff6e9;
  padding: 55 35;
}

#hear-heading {
  padding-left: 80;
}

#comments {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  justify-content: center;
}
#comments .comment {
  width: 400px;
  border-radius: 8px;
  padding: 12 25;
  margin: 20 30;
  font-size: 22;
  transition: all 0.5s ease;
}
#comments .comment .comment-text {
  line-height: 1.3;
  display: -webkit-box;
  -webkit-line-clamp: 9;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
#comments .comment .comment-closing {
  margin-top: 20px;
}
#comments .comment .comment-closing button {
  float: right;
  font-size: inherit;
  font-family: inherit;
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

.comment:hover {
  transform: scale(1.08);
}

.comment-closing button:hover {
  opacity: 0.5;
}

#example-page {
  background-color: #cee741;
}
#example-page .video {
  text-align: center;
}
#example-page .video video {
  border-radius: 8px;
  transition: all 0.3s ease;
}

.video video:hover {
  transform: scale(1.01);
}

.link {
  text-align: center;
}

#contact-page {
  background-color: #000f48;
  color: white;
  font-weight: 300;
}

.contact-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 250px;
  font-size: 25;
}
.contact-container .contact-social-media .contact-facebook {
  cursor: pointer;
}
.contact-container .contact-social-media .contact-instagram {
  cursor: pointer;
}
.contact-container .contact-info {
  margin: 0 150;
  text-align: center;
}

.contact-credits {
  text-align: right;
  font-size: 14;
  font-style: italic;
}/*# sourceMappingURL=style.css.map */